{{- define "main" }}
<div class="bg-secondary-bg pl-scrollbar">
    <div class="md:max-w-screen-lg mx-auto">
        <div class="md:grid grid-cols-5 grid-rows-7 h-screen -mt-4">
            <div class="col-start-2 col-span-5 row-start-2 row-span-5 z-20">
                <div class="md:flex flex-col items-center justify-center ">
                    <img src="images/hero-top.jpg" alt="beerholic">
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="md:max-w-screen-xl mx-auto">
    <div class="pt-12 md:px-4 xl:px-8">
        {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{- partial "masonry" $pages }}
    </div>
</div>
{{- end }}