{{- define "main" }}
<div class="bg-secondary-bg pl-scrollbar">
    <div class="max-w-screen-lg mx-auto">
                <div class="flex flex-row items-center justify-center object-contain">
                    <img src="images/hero-top.jpg" alt="beerholic">
                </div>

    </div>
</div>

</div>
<div class="md:max-w-screen-xl mx-auto">
    <div class="pt-12 md:px-4 xl:px-8">
        {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{- partial "masonry" $pages }}
    </div>
</div>
{{- end }}